{% extends 'Man_index.html' %}
{% load static %}
{% block content %}


<div class="card-body">
    <h3 class="card-title">Previous Accounts</h3>
    <div class="form-group">
        <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
    </div>
    <div class="table-responsive">
        <table class="table" id="myTable">
            <thead>
               
                <tr class="header">

                  <th> Sl.no</th>
                  <th> Name</th>
                  <th> Email </th>
                  <th> Phone number </th>
                  <th> Date of Appointment </th>
                  <th>Date of Resigning</th>
                  <th> Employee id </th>
                  
                 <th> Status </th>

                </tr>
                
            </thead>
            <tbody id="myTable">
                {% for i in obj %}  
               
              <tr data-href="/Manager_studentprofile/3/" style="cursor: pointer;">
                
              
                <td>{{ forloop.counter }}</td>
                <td>{{i.name}}</td>
                
                <td>{{i.email}}</td>
                
                <td>{{i.phonenumber}}</td>
                <td>{{i.dateofappointment}}</td>
                <td>{{i.dateofressigning}}</td>
                
                <td>{{i.employid}}</td>
                
            
                
                
                <td><div class="badge badge-outline-success">deactive</div></td>
               
            </tr>
            {% endfor %}
               
              
               
            
             
           
            </tbody>
            <script>
                $(document).ready(function() {
                    $("#myInput").on("keyup", function() {
                        var value = $(this).val().toLowerCase();
                        $("#myTable tr").filter(function() {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>


        </table>
    </div>
</div>
{% endblock %}