{%extends 'Staff_index.html'%} {% load static %} {% block content %}

<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Current Accounts</h3>

                <div class="form-group">
                    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                </div>
                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr class="header" data-href="#">
                                <th></th>
                                <th> Name </th>
                                <th> Email </th>
                                <th> Phone Number </th>

                                <th>Joining Date </th>
                                <th> Employee ID </th>
                                <th>Salary</th>
                                <!-- <th> Start Date </th>
                                <th> End Date </th> -->

                            </tr>
                        </thead>