{% extends 'Man_index.html' %}
{% load static %}
{% block content %}


<div class="card-body">
    <h3 class="card-title">Previous Account </h3>
    <div class="form-group">
        <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
    </div>
    <div class="table-responsive">
        <table class="table" id="myTable">
            <thead>
               
                <tr class="header">

                  <th> Sl.no</th>
                  <th> Name</th>
                  <th> Email </th>
                  <th> Phone number </th>
                  <th> Date of Resigning </th>
                  <th> Employee id </th>
                 <th> Status </th>

                </tr>
                
            </thead>
            <tbody id="myTable">
                
               
              <tr data-href="/Manager_studentprofile/3/" style="cursor: pointer;">
                 
                <td>1</td>
                
                <td>staffname</td>
                
                <td>staff@gmail.com</td>
                <td>7901253625</td>
                
                <td>03-05-2020</td>
                
                <td>9857485965</td>
                <td>H5647</td>
                
                <td><div class="badge badge-outline-success">active</div></td>
               
            </tr>
               
              
              <tr data-href="/Manager_studentprofile/4/" style="cursor: pointer;">
                 
                <td>2</td>
                
                <td>staffname</td>
                
                <td>staff2@gmail.com</td>
                <td>6245689561</td>
                
                <td>06-04-2021</td>
                
                <td>54531</td>
                
                <td><div class="badge badge-outline-success">active</div></td>
               
            </tr>
             
           
            </tbody>
        </table>
    </div>
</div>
{% endblock %}