{% extends 'Man_index.html' %}
{% load static %}
{% block content %}


<div class="card-body">
    <h3 class="card-title">Current Accounts</h3>
    <div class="form-group">
        <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
    </div>
    <div class="table-responsive">
        <table class="table" id="myTable">
            <thead>
               
                <tr class="header">

                  <th> Sl.no</th>
                  <th> Name</th>
                  <th> Email </th>
                  <th> Phone number </th>
                  <th> Date of Appointment </th>
                  <th> Employee id </th>
                  <th> Salary</th>
                 <th> Status </th>

                </tr>
                
            </thead>
            <tbody id="myTable">
                
               
              <tr data-href="/Manager_studentprofile/3/" style="cursor: pointer;">
                 
                <td>1</td>
                
                <td>staffname1</td>
                
                <td>staff@gmail.com</td>
                <td>9895012456</td>
                
                <td>02-10-2018</td>
                
                <td>E1256</td>
                <td>30000</td>
                
                <td><div class="badge badge-outline-success">active</div></td>
               
            </tr>
               
              
              <tr data-href="/Manager_studentprofile/4/" style="cursor: pointer;">
                 
                <td>2</td>
                
                <td>staffname2</td>
                
                <td>staff2@gmail.com</td>
                <td>8547121364</td>
                
                <td>10/12/2019</td>
                
                <td>54531</td>
                <td>40000</td>
                
                <td><div class="badge badge-outline-success">active</div></td>
               
            </tr>
             
           
            </tbody>
        </table>
    </div>
</div>
{% endblock %}